*
{background-color: #0000AA;
color:#FFFFFF;
font-family: "Lucida Console", monospace;
}

nav a {
    font-weight: bold;
    color: goldenrod;
}

nav a:hover {
    color:  #C0C0C0;
}

footer {
    font-size: .5em;
}
