*
{background-color: #0000AA;
color:#FFFFFF;
font-family: "Lucida Console", monospace;
}

nav a {
    font-weight: bold;
    color: #C0C0C0;
    border: 2px solid #C0C0C0;
    text-decoration: none;
    padding: 8px;
}

nav a:hover {
    color:  #FFFFFF;
}

footer {
    font-size: .5em;
    padding-top: 5em;
}
